<div class="container">
  <div class="row">
    <div class="col s8 offset-2">
      <form #imageForm=ngForm (ngSubmit)="OnSubmit(Caption,Image)">

        
        <img [src]="imageUrl"  style="width:250px;height:200px">
        <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
        <button type="submit" *ngIf="show" class="btn-large btn-submit" [disabled]="Image.value=='' || !imageForm.valid">Subir a uploadcare</button>
      </form>
    </div>
  </div>
</div>